$navfont: 'Actor', sans-serif;

blognav {
	display: flex;
	flex-direction: column;
	font-family: $navfont;
	text-transform: capitalize;

	@media screen and (max-width: 680px) {
		flex-direction: row;
	}
}

.blog {
	font-family: Georgia, serif;
	text-decoration: none;
}

p.blog_excerpt {
	font-family: Georgia, serif;
	text-transform: initial;
}