/*Homework Discarded from Class Four*/
nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: #FFFFFF;
  width: 100%;
  height: 75px;

  @media screen and (max-width: 640px) {
    position: relative;
    }

  @media screen and (max-width: 468px) {
    width: 100%;
    text-align: center;
    margin: 1%;
    border-radius: 5px;
    padding: 0;
    }
  }

.navlink {
  font-family: 'Actor', sans-serif;
  font-size: 1.2em;
  line-height: 100%;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  width: 100%;
  background-color: #FFFFFF;
  padding: 2em;

  @media screen and (max-width: 640px) {
    font-size: 1em;
    padding: .5em;
    flex: 1;
  }


  @media screen and (max-width: 468px) {
    display: inline-block;
    width: 100%;
    padding: .25em;
    margin: 1% 1% 1% 1%;
    border-style: solid;
    border-width: 1px;
    border-color: dimgrey;
    background-color: dimgrey;
    color: #FFFFFF;
    text-align: center;
  }
}

.navlink:hover {
  color: #6B8E23;
}

.navlink:active {
  color: #6B8E23;
}


/*Homework Discarded from Class Three*/
nav {
  margin:0;
  padding:0;
  position: absolute;
  display: inline;
  float: left;
  margin-right: 1px;

  /*
  background-color: #D3D3D3;
  font-size: 1em;
  text-align: center;
  padding: 1em;
  */

  /* iPhone 4 thru 5s */
  /*@media screen and (max-width: 568px) {
    position: relative;
    min-height: 40px;
  }
  */
}

.navlink {
  display:block;
  min-width:140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #2f3036;
  text-decoration: none;


  /*
  width: 18%;
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  opacity: .75;
  transition: 1s background-color;

  color: #708090;
  text-decoration: none;
  font-family: 'Actor', sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
  */

  /*
  border-right: 1px solid black;

  &:last-of-type {
    border-right: 0;
  }
  */

/*
  &:after {
    content:"|";
    padding-left: 50%;
    display: inline-block;
  }

  &:last-of-type:after {
    display: none;
  }
  */
}

.navlink:hover {
  background-color: #00FFFF;
  color: #708090;
  opacity: 1;
}

.navlink:active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.page_classes {
  width: 85%;
  margin: 0 auto;
}

/* from all.scss 
img.small {
  width: 200px;
  height: 200px;
  float: right;
  display: inline;
  margin: 2em;
}

img.large {
  width: 40em;
  display: inline-block;
}
*/



.slideshow {
  max-width:640px; 
  max-height: 400px;
  margin:0 auto; 
  position:relative; 
  overflow:hidden; 
  border:1px 
  solid #000;
}

.slideshow-image {
  position:absolute; 
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; 
  max-width: 400px; 
  max-height: 300px;
  display:block;
}

.slideshow-image:first-child {
  position:relative;
} 

.slideshow-image:nth-of-type(1) {
  -webkit-animation:autoplay 48s linear infinite 0s;
  animation:autoplay 48s linear infinite 0s;
} 
.slideshow-image:nth-of-type(2) {
  -webkit-animation:autoplay 48s linear infinite 6s; 
  animation:autoplay 48s linear infinite 6s;
}
.slideshow-image:nth-of-type(3) {
  -webkit-animation:autoplay 48s linear infinite 12s; 
  animation:autoplay 48s linear infinite 12s;
}

@keyframes autoplay {
  0% {left:-100%;}
  1%, 12.5% {left:0;}
  13.5%, 100% {left:100%;}
  }

@-webkit-keyframes autoplay {
  0% {left:-100%;}
  1%, 12.5% {left:0;}
  13.5%, 100% {left:100%;}
  }



.puppyheader {
  width: 100%;

  @media screen and (min-width: 681px) {
    display: none;
  }
}

.puppyhead2 {
  width: 100%;

  @media screen and (max-width: 680px) {
    width: 0;
    height: 0;
  }
}